<div class="w-full h-16 p-4 flex justify-between bg-red-500">
   <div>
    <img src="../../../assets/ipres.jpg" class="w-full h-full rounded-full object-fill" alt="">
   </div>
    <div class="hidden md:w-11/12 md:text-3xl md:font-bold md:text-white md:flex md:justify-left">
        <p>Institution de Prévoyance Retraite du Sénégal</p>
    </div>
    <div class="text-white md:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
        </svg>  
    </div>
</div>