<div class="w-full h-full flex justify-between pt-12 md:pt-24">
    <div class="flex w-1/2 mx-auto my-auto">
        <button routerLink="/rendez-vous" class="transition mx-16 my-16 md:my-32 btn bg-red-500 hover:bg-red-400 text-white h-10 rounded-xl">Prendre un rendez-vous</button>
    </div>
    <div class="grid grid-cols-2 gap-4 w-1/3">
        <div class="flex flex-col font-bold">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 mx-auto">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
            <button routerLink="/profil-check" class="transition mx-auto btn h-10 w-16 bg-black hover:bg-slate-400 text-white rounded-xl">Proifl</button>
        </div>
        <div class="flex flex-col">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 mx-auto">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
            <button routerLink="/profil-check" class="transition mx-auto btn h-10 w-16 bg-black hover:bg-slate-400 text-white rounded-xl">Proifl</button>   
        </div>
        <div class="flex flex-col font-bold">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 mx-auto">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
            <button routerLink="/profil-check" class="transition mx-auto btn h-10 w-16 bg-black hover:bg-slate-400 text-white rounded-xl">Proifl</button>
        </div>
        <div class="flex flex-col">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 mx-auto">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
            <button routerLink="/profil-check" class="transition mx-auto btn h-10 w-16 bg-black hover:bg-slate-400 text-white rounded-xl">Proifl</button>   
        </div>
    </div>
</div>