<div class=" mt-12  space-y-4">
    <div class="flex justify-center mx-auto bg-black text-white rounded-full w-20 h-20 mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-20 h-20">
            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
        </svg>          
    </div>

    <div class="flex flex-col space-y-2  mx-auto">
        <p class="mx-auto font-bold text-xl">Nom Complet</p>
        <p class="bg-slate-300 h-6 flex w-full justify-center text-gray-500">Fatou Cissé</p>
    </div>

    <div class="flex flex-col space-y-2  mx-auto">
        <p class="mx-auto font-bold text-xl">Numéro Allocation</p>
        <p class="bg-slate-300 h-6 flex w-full justify-center text-gray-500">aa355788</p>
    </div>

    <div class="flex flex-col space-y-2  mx-auto">
        <p class="mx-auto font-bold text-xl">Numéro Téléphone</p>
        <p class="bg-slate-300 h-6 flex w-full justify-center text-gray-500">775679825</p>
    </div>

    <div class="flex space-x-8 text-blue-500 mx-auto justify-end">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 ">
            <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
        </svg>          
        <button class="transition btn bg-blue-500 hover:bg-blue-400 px-4 py-2 items-center text-white font-bold rounded-xl">Modifier Infos</button>
    </div>
</div>